# Proyecto - Statistical Learning I

Gustavo Alvarado. Carnet # 20063401

In [1802]:
import tensorflow as tf
from tensorflow import keras
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
import pickle
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, precision_recall_fscore_support
from datetime import datetime
from sklearn.externals import joblib

In [1803]:
if tf.__version__.startswith("2."):
    import tensorflow.compat.v1 as tf
    tf.compat.v1.disable_v2_behavior()
    tf.compat.v1.disable_eager_execution()
    print("Enabled compatitility to tf1.x")

Enabled compatitility to tf1.x

In [851]:
titanic_data = pd.read_csv('data_titanic_proyecto.csv')
titanic_data

,PassengerId,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,passenger_class,passenger_sex,passenger_survived
0,1,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,S,Lower,M,N
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,C,Upper,F,Y
2,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Lower,F,Y
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,S,Upper,F,Y
4,5,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,NaN,S,Lower,M,N
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,"Montvila, Rev. Juozas",27.0,0,0,211536,13.0000,NaN,S,Middle,M,N
887,888,"Graham, Miss. Margaret Edith",19.0,0,0,112053,30.0000,B42,S,Upper,F,Y
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",NaN,1,2,W./C. 6607,23.4500,NaN,S,Lower,F,N
889,890,"Behr, Mr. Karl Howell",26.0,0,0,111369,30.0000,C148,C,Upper,M,Y
890,891,"Dooley, Mr. Patrick",32.0,0,0,370376,7.7500,NaN,Q,Lower,M,N

In [585]:
#Verificando datos faltantes
titanic_data.isna().sum()

PassengerId             0
Name                    0
Age                   177
SibSp                   0
Parch                   0
Ticket                  0
Fare                    0
Cabin                 687
Embarked                2
passenger_class         0
passenger_sex           0
passenger_survived      0
dtype: int64

In [852]:
#Calculando moda para los 2 Embarked faltante 
titanic_data['Embarked'].fillna(titanic_data['Embarked'].mode()[0], inplace = True)
#Calculando media para las edades faltantes
titanic_data['Age'].fillna(titanic_data['Age'].mean(), inplace = True)
#Calculando media para las cuotas faltantes
titanic_data['Fare'].fillna(titanic_data['Fare'].mean(), inplace = True)
#Cabin tiene demasiados faltantes, así que será excluído

In [980]:
titanic_data.isna().sum()

PassengerId             0
Name                    0
Age                     0
SibSp                   0
Parch                   0
Ticket                  0
Fare                    0
Cabin                 687
Embarked                0
passenger_class         0
passenger_sex           0
passenger_survived      0
dtype: int64

## Feature Engineering

**Selección**: Se excluyen los *features* no relevantes: **PassangerId**, **Name**, **Ticket** y **Cabin**.

In [1812]:
selected_data = titanic_data[['Age', 'SibSp', 'Parch', 'Embarked', 'Fare', 'passenger_class', 'passenger_sex', 'passenger_survived']]
selected_data.head()

,Age,SibSp,Parch,Embarked,Fare,passenger_class,passenger_sex,passenger_survived
0,22.0,1,0,S,7.2500,Lower,M,N
1,38.0,1,0,C,71.2833,Upper,F,Y
2,26.0,0,0,S,7.9250,Lower,F,Y
3,35.0,1,0,S,53.1000,Upper,F,Y
4,35.0,0,0,S,8.0500,Lower,M,N

**Transformación**: Transformando datos no numéricos **passenger_class**, **passenger_sex** y **passenger_survived**.

In [1813]:
transformed_data = selected_data

class_mapping = {'Lower': 1, 'Middle': 2, 'Upper': 3} 
sex_mapping = {'M': 1, 'F': 2}
survived_mapping = {'Y': 1, 'N': 0}
embarked_mapping = {'C': 2, 'Q': 3, 'S': 1}

transformed_data = selected_data.replace({'passenger_class': class_mapping, 
                                          'passenger_sex': sex_mapping, 
                                          'passenger_survived': survived_mapping,
                                          'Embarked': embarked_mapping})
transformed_data.head()

,Age,SibSp,Parch,Embarked,Fare,passenger_class,passenger_sex,passenger_survived
0,22.0,1,0,1,7.2500,1,1,0
1,38.0,1,0,2,71.2833,3,2,1
2,26.0,0,0,1,7.9250,1,2,1
3,35.0,1,0,1,53.1000,3,2,1
4,35.0,0,0,1,8.0500,1,1,0

**Creación**: Creación de nuevas columnas

In [1814]:
complemented_data = transformed_data
#Agregando nueva columna con el total de familia que acompaña al pasajero
complemented_data['total_family'] = complemented_data['SibSp'] + complemented_data['Parch']
#Agregando una nueva columna verificando si viaja solo o acompañado, basado en SibSp (hermanos y cónyuges) y Parch (padres e hijos)
complemented_data.loc[complemented_data['SibSp'] + complemented_data['Parch'] > 0, 'with_family'] = 1
complemented_data.loc[complemented_data['SibSp'] + complemented_data['Parch'] == 0, 'with_family'] = 0

complemented_data

,Age,SibSp,Parch,Embarked,Fare,passenger_class,passenger_sex,passenger_survived,total_family,with_family
0,22.000000,1,0,1,7.2500,1,1,0,1,1.0
1,38.000000,1,0,2,71.2833,3,2,1,1,1.0
2,26.000000,0,0,1,7.9250,1,2,1,0,0.0
3,35.000000,1,0,1,53.1000,3,2,1,1,1.0
4,35.000000,0,0,1,8.0500,1,1,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...
886,27.000000,0,0,1,13.0000,2,1,0,0,0.0
887,19.000000,0,0,1,30.0000,3,2,1,0,0.0
888,29.699118,1,2,1,23.4500,1,2,0,3,1.0
889,26.000000,0,0,2,30.0000,3,1,1,0,0.0
890,32.000000,0,0,3,7.7500,1,1,0,0,0.0

**Agrupando**: Agrupación de *features* por rangos

In [1815]:
grouped_data = complemented_data

In [1816]:
grouped_data['Age'].describe()

count    891.000000
mean      29.699118
std       13.002015
min        0.420000
25%       22.000000
50%       29.699118
75%       35.000000
max       80.000000
Name: Age, dtype: float64

In [1817]:
#Agrupando por edades: 
#1 - Bebés -  0 a 2 años
#2 - Niños - 3 a 12 años
#3 - Adolescentes - 13 a 17 años
#4 - Adultos jóvenes - 18 a 40 años
#5 - Adultos mediana - 41 a 65 años
#6 - Adultos tercera edad - 65 años en adelante
grouped_data['age_range'] = pd.cut(grouped_data['Age'], 
                                   bins=[0, 2, 12, 17, 40, 65, 80], 
                                   labels=[1, 2, 3, 4, 5, 6])
grouped_data

,Age,SibSp,Parch,Embarked,Fare,passenger_class,passenger_sex,passenger_survived,total_family,with_family,age_range
0,22.000000,1,0,1,7.2500,1,1,0,1,1.0,4
1,38.000000,1,0,2,71.2833,3,2,1,1,1.0,4
2,26.000000,0,0,1,7.9250,1,2,1,0,0.0,4
3,35.000000,1,0,1,53.1000,3,2,1,1,1.0,4
4,35.000000,0,0,1,8.0500,1,1,0,0,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...
886,27.000000,0,0,1,13.0000,2,1,0,0,0.0,4
887,19.000000,0,0,1,30.0000,3,2,1,0,0.0,4
888,29.699118,1,2,1,23.4500,1,2,0,3,1.0,4
889,26.000000,0,0,2,30.0000,3,1,1,0,0.0,4
890,32.000000,0,0,3,7.7500,1,1,0,0,0.0,4

In [1818]:
grouped_data['Fare'].describe()

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

In [1819]:
#Agrupando por tarifa: 
#1 - Tarifa 1 - 0 a 8 
#2 - Tarifa 2 - 8 a 15
#3 - Tarifa 3 - 15 a 31 años
#4 - Tafifa 4 - 31 en adelante
grouped_data['fare_range'] = pd.cut(grouped_data['Fare'], 
                                   bins=[-1, 8, 15, 31, 515], 
                                   labels=[1, 2, 3, 4])
grouped_data

,Age,SibSp,Parch,Embarked,Fare,passenger_class,passenger_sex,passenger_survived,total_family,with_family,age_range,fare_range
0,22.000000,1,0,1,7.2500,1,1,0,1,1.0,4,1
1,38.000000,1,0,2,71.2833,3,2,1,1,1.0,4,4
2,26.000000,0,0,1,7.9250,1,2,1,0,0.0,4,1
3,35.000000,1,0,1,53.1000,3,2,1,1,1.0,4,4
4,35.000000,0,0,1,8.0500,1,1,0,0,0.0,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...
886,27.000000,0,0,1,13.0000,2,1,0,0,0.0,4,2
887,19.000000,0,0,1,30.0000,3,2,1,0,0.0,4,3
888,29.699118,1,2,1,23.4500,1,2,0,3,1.0,4,3
889,26.000000,0,0,2,30.0000,3,1,1,0,0.0,4,3
890,32.000000,0,0,3,7.7500,1,1,0,0,0.0,4,1

In [1820]:
final_data = grouped_data

In [1821]:
final_data['fare_range'] = final_data['fare_range'].cat.codes + 1
final_data['age_range'] = final_data['age_range'].cat.codes + 1

In [1798]:
final_data

,Age,SibSp,Parch,Embarked,Fare,passenger_class,passenger_sex,total_family,with_family,age_range,fare_range
0,22.000000,1,0,1,7.2500,1,1,1,1.0,4,1
1,38.000000,1,0,2,71.2833,3,2,1,1.0,4,4
2,26.000000,0,0,1,7.9250,1,2,0,0.0,4,1
3,35.000000,1,0,1,53.1000,3,2,1,1.0,4,4
4,35.000000,0,0,1,8.0500,1,1,0,0.0,4,2
...,...,...,...,...,...,...,...,...,...,...,...
886,27.000000,0,0,1,13.0000,2,1,0,0.0,4,2
887,19.000000,0,0,1,30.0000,3,2,0,0.0,4,3
888,29.699118,1,2,1,23.4500,1,2,3,1.0,4,3
889,26.000000,0,0,2,30.0000,3,1,0,0.0,4,3
890,32.000000,0,0,3,7.7500,1,1,0,0.0,4,1

In [1822]:
#Guardando data final para deployment
final_data.to_csv('final_data.csv', index = False)

## Datos de entrenamiento, validación y de prueba

In [1719]:
x = final_data
y = x.pop('passenger_survived')

In [1720]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20)
x_train, x_validation, y_train, y_validation = train_test_split(x_train, y_train, test_size = 0.20)

In [1721]:
x_train

,Age,SibSp,Parch,Embarked,Fare,passenger_class,passenger_sex,total_family,with_family,age_range,fare_range
550,17.000000,0,2,2,110.8833,3,1,2,1.0,3,4
155,51.000000,0,1,2,61.3792,3,1,1,1.0,5,4
268,58.000000,0,1,1,153.4625,3,2,1,1.0,5,4
185,29.699118,0,0,1,50.0000,3,1,0,0.0,4,4
434,50.000000,1,0,1,55.9000,3,1,1,1.0,5,4
...,...,...,...,...,...,...,...,...,...,...,...
543,32.000000,1,0,1,26.0000,2,1,1,1.0,4,3
55,29.699118,0,0,1,35.5000,3,1,0,0.0,4,4
718,29.699118,0,0,3,15.5000,1,1,0,0.0,4,3
461,34.000000,0,0,1,8.0500,1,1,0,0.0,4,2
785,25.000000,0,0,1,7.2500,1,1,0,0.0,4,1

In [1722]:
y_train

550    1
155    0
268    1
185    0
434    0
      ..
543    1
55     1
718    0
461    0
785    0
Name: passenger_survived, Length: 569, dtype: int64

## Ensemble learning

Nota: Para este proceso de entrenamiento, no se efectuará *bootstraping*, sin embargo, para problemas reales si se recomienda hacerlo. Para efectuar *bootstraping*, se necesita definir el tamaño de la muestra y el número de repeticiones. Se obtiene una muestra con el tamaño definido, utilizando datos aleatorios del dataset, sin importar si se repiten los elementos. El proceso se repite en número de veces definido para obtener las estadísticas requeridas por cada muestra. Esto puede ser efectuado con la función **resample** de **scikit-learn**. 

### Árbol de decisión

In [1723]:
def trainDecisionTree(x_train, y_train, x_test, y_test):
    print('-----------------------------------')
    print('Training Decision Tree model...')
    classifier = DecisionTreeClassifier(random_state = 0)
    model = classifier.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    print(confusion_matrix(y_test, y_pred))
    print(classification_report(y_test,y_pred))
    
    #Guardando en bitácora
    conf_string = "DECISION_TREE-" + '-'.join(list(x_train.columns.values))
    accuracy = accuracy_score(y_test, y_pred)
    precision, recall, fscore, _ = precision_recall_fscore_support(y_test, y_pred)
    metrics = [[conf_string, accuracy, precision[0], precision[1], recall[0], recall[1], fscore[0], fscore[1]]]
    log = pd.DataFrame(metrics, 
                       columns=['experiment', 'accuracy', 'precision_0', 'precision_1', 
                                'recall_0', 'recall_1', 'fscore_0', 'fscore_1'])
    log.to_csv('log.csv', index = False, mode = 'a', header = False)
    
    #Guardando el modelo
    joblib.dump(model, './models/' + conf_string + '.pkl')
    return y_pred

In [1727]:
y_pred_1 = trainDecisionTree(x_train, y_train, x_test, y_test)

-----------------------------------
Training Decision Tree model...
[[88 30]
 [18 43]]
              precision    recall  f1-score   support

           0       0.83      0.75      0.79       118
           1       0.59      0.70      0.64        61

    accuracy                           0.73       179
   macro avg       0.71      0.73      0.71       179
weighted avg       0.75      0.73      0.74       179

### SVM

In [1677]:
def trainSVM(x_train, y_train, x_test, y_test):
    print('-----------------------------------')
    print('Training SVM model...')
    svm_classifier = SVC(kernel='linear')
    model = svm_classifier.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    print(confusion_matrix(y_test, y_pred))
    print(classification_report(y_test, y_pred))
    
    #Guardando en bitácora
    conf_string = "SVM-" + '-'.join(list(x_train.columns.values))
    accuracy = accuracy_score(y_test, y_pred)
    precision, recall, fscore, _ = precision_recall_fscore_support(y_test, y_pred)
    metrics = [[conf_string, accuracy, precision[0], precision[1], recall[0], recall[1], fscore[0], fscore[1]]]
    log = pd.DataFrame(metrics, 
                       columns=['experiment', 'accuracy', 'precision_0', 'precision_1', 
                                'recall_0', 'recall_1', 'fscore_0', 'fscore_1'])
    log.to_csv('log.csv', index = False, mode = 'a', header = False)
    
    #Guardando el modelo
    joblib.dump(model, './models/' + conf_string + '.pkl')
    return y_pred

In [1728]:
y_pred_2 = trainSVM(x_train, y_train, x_test, y_test)

-----------------------------------
Training SVM model...
[[105  13]
 [ 21  40]]
              precision    recall  f1-score   support

           0       0.83      0.89      0.86       118
           1       0.75      0.66      0.70        61

    accuracy                           0.81       179
   macro avg       0.79      0.77      0.78       179
weighted avg       0.81      0.81      0.81       179

### Naive Bayes

In [1613]:
def P_x_given_y(x, mean_y, variance_y):
    P = 1/(np.sqrt(2*np.pi*variance_y)) * np.exp((-(x-mean_y)**2)/(2*variance_y))
    return P

In [1806]:
def trainNaiveBayes(x_train, y_train, x_test, y_test):
    print('-----------------------------------')
    print('Training Naive Bayes model...')
    data = x_train[:]
    col_name = y_train.to_frame().columns[0]
    data[col_name] = y_train
    
    #Calculando priors
    ones = data[col_name][data[col_name] == 1].count()
    zeros = data[col_name][data[col_name] == 0].count()
    n = len(data)
    P_ones = ones / n
    P_zeros = zeros / n
    
    #Calculando likelihood
    data_means = data.groupby(col_name).mean()
    data_var = data.groupby(col_name).var()
    
    #Predicción
    y_pred = y_test.to_frame()
    y_pred['P_one'] = P_ones
    y_pred['P_zero'] = P_zeros
    y_pred['prediction'] = -1
    
    for i in range(0, len(x_test)):
        for j in range(len(x_test.columns) - 1):
            row_name = x_test.index[i]
            column_name = x_test.columns[j]
            x_one_mean = data_means.loc[1, column_name]
            x_one_var = data_var.loc[1, column_name]
            x_zero_mean = data_means.loc[0, column_name]
            x_zero_var = data_var.loc[0, column_name]
            
            y_pred.loc[row_name, 'P_one'] *= P_x_given_y(x_test.loc[row_name, column_name], x_one_mean, x_one_var)
            y_pred.loc[row_name, 'P_zero'] *= P_x_given_y(x_test.loc[row_name, column_name], x_zero_mean, x_zero_var)
            
            if y_pred.loc[row_name, 'P_one'] > y_pred.loc[row_name, 'P_zero']:
                y_pred.loc[row_name, 'prediction'] = 1
            else:
                y_pred.loc[row_name, 'prediction'] = 0
    

    #Guardando en bitácora
    conf_string = "NAIVE_BAYES-" + '-'.join(list(x_train.columns.values))
    accuracy = accuracy_score(y_test, y_pred['prediction'])
    precision, recall, fscore, _ = precision_recall_fscore_support(y_test, y_pred['prediction'])
    metrics = [[conf_string, accuracy, precision[0], precision[1], recall[0], recall[1], fscore[0], fscore[1]]]
    log = pd.DataFrame(metrics, 
                       columns=['experiment', 'accuracy', 'precision_0', 'precision_1', 
                                'recall_0', 'recall_1', 'fscore_0', 'fscore_1'])
    log.to_csv('log.csv', index = False, mode = 'a', header = False)
    
    print('Accuracy:', accuracy)
    
    #Guardando el modelo
    model = {'p_ones': P_ones, 'p_zeros': P_zeros, 'means': data_means, 'var': data_var}
    with open('./models/' + conf_string + '.dat', 'wb') as f:
        pickle.dump(model, f)
    return y_pred['prediction'].to_numpy()

In [1807]:
y_pred_3 = trainNaiveBayes(x_train, y_train, x_test, y_test)

-----------------------------------
Training Naive Bayes model...

C:\Users\Gus\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Accuracy: 0.8044692737430168

### Regresión logística

In [1764]:
def trainLogisticRegression(x_train, y_train, x_test, y_test, EPOCHS, show_each, learning_rate, lambda_value):
    print('-----------------------------------')
    print('Training Logistic Regression model...')
    n_train = len(x_train)
    n_test = len(x_test)
    m = len(x_test.columns)
    column_names = list(x_train.columns.values)
    x_train = x_train.values
    x_train = np.c_[np.ones((n_train)), x_train]
    x_test = x_test.values
    x_test = np.c_[np.ones((n_test)), x_test]
    y_train = np.array([y_train]).T
    y_test = np.array([y_test]).T

    tf.reset_default_graph()
    
    weights = tf.get_variable("weights", dtype=tf.float32, shape=[m + 1, 1], initializer=tf.ones_initializer())
    
    tensor_x_train = tf.placeholder(tf.float32,[n_train, m + 1],"tensor_x_train")
    tensor_y_train = tf.placeholder(tf.float32,[n_train, 1],"tensor_y_train")
    tensor_x_test = tf.placeholder(tf.float32,[n_test, m + 1],"tensor_x_test")
    tensor_y_test = tf.placeholder(tf.float32,[n_test, 1],"tensor_y_test")
    
    #Función sigmoid
    logits = tf.matmul(tensor_x_train, weights)
    y_pred = tf.round(tf.nn.sigmoid(logits))
    loss = tf.reduce_mean(tf.nn.sigmoid_cross_entropy_with_logits(logits = logits, labels = tensor_y_train))
    
    #Aplicando regularización
    regularizer = tf.nn.l2_loss(weights)
    cost = tf.reduce_mean(loss + lambda_value * regularizer)
    
    #Gradient descent
    gradient = tf.gradients(cost, [weights])[0]
    weights_update = tf.assign(weights, weights - learning_rate * gradient)
    
    init = tf.global_variables_initializer() 
    
    with tf.Session() as session:
        session.run(init)
        feed_dict = {tensor_x_train: x_train, tensor_y_train: y_train, tensor_x_test: x_test, tensor_y_test: y_test}
            
        for i in range(EPOCHS + 1):    
            cost_value = session.run(cost, feed_dict=feed_dict)
            session.run(weights_update, feed_dict=feed_dict)
            
            comparer = tf.equal(y_pred, tensor_y_train)
            hits = tf.reduce_sum(tf.cast(comparer, tf.float32))
            hits_value = session.run(hits, feed_dict=feed_dict)
            accuracy_value = round(hits_value / n_train, 2)
            if (i % show_each == 0):
                print("Iteration", i, ": Cost =", cost_value, ". Accuracy =", accuracy_value)
       
        w = session.run(weights, feed_dict=feed_dict)
        
        #Probando modelo con datos de prueba
        logits_test = tf.matmul(tensor_x_test, weights)
        y_pred_test = tf.round(tf.nn.sigmoid(logits_test))
        y_pred_test_value = session.run(y_pred_test, feed_dict=feed_dict)
        
    #Guardando en bitácora
    conf_string = "LOGISTIC_REGRESSION-lr=" + str(learning_rate) + "-reg=" + str(lambda_value) + '-'.join(column_names)
    accuracy = accuracy_score(y_test, y_pred_test_value)
    precision, recall, fscore, _ = precision_recall_fscore_support(y_test, y_pred_test_value)
    metrics = [[conf_string, accuracy, precision[0], precision[1], recall[0], recall[1], fscore[0], fscore[1]]]
    log = pd.DataFrame(metrics, 
                       columns=['experiment', 'accuracy', 'precision_0', 'precision_1', 
                                'recall_0', 'recall_1', 'fscore_0', 'fscore_1'])
    log.to_csv('log.csv', index = False, mode = 'a', header = False)
    
    print('Accuracy:', accuracy)
    
    #Guardando modelo 
    w.dump('./models/' + conf_string +'.npy')
    return y_pred_test_value.T[0].astype('int')

In [1765]:
y_pred_4 = trainLogisticRegression(x_train, y_train, x_test, y_test, 2100, 100, 0.01, 0.000000001)

-----------------------------------
Training Logistic Regression model...
Iteration 0 : Cost = 41.378796 . Accuracy = 0.39
Iteration 100 : Cost = 1.8601415 . Accuracy = 0.62
Iteration 200 : Cost = 1.5540991 . Accuracy = 0.61
Iteration 300 : Cost = 1.3254828 . Accuracy = 0.6
Iteration 400 : Cost = 1.1952381 . Accuracy = 0.59
Iteration 500 : Cost = 1.1327332 . Accuracy = 0.59
Iteration 600 : Cost = 0.8358509 . Accuracy = 0.6
Iteration 700 : Cost = 1.0585172 . Accuracy = 0.73
Iteration 800 : Cost = 0.83160305 . Accuracy = 0.68
Iteration 900 : Cost = 1.16264 . Accuracy = 0.41
Iteration 1000 : Cost = 1.25224 . Accuracy = 0.68
Iteration 1100 : Cost = 0.91674495 . Accuracy = 0.75
Iteration 1200 : Cost = 0.77129555 . Accuracy = 0.54
Iteration 1300 : Cost = 1.3747507 . Accuracy = 0.46
Iteration 1400 : Cost = 1.104604 . Accuracy = 0.77
Iteration 1500 : Cost = 0.7218399 . Accuracy = 0.73
Iteration 1600 : Cost = 1.131737 . Accuracy = 0.4
Iteration 1700 : Cost = 1.2100586 . Accuracy = 0.67
Iteration 1800 : Cost = 0.90670085 . Accuracy = 0.78
Iteration 1900 : Cost = 0.7677829 . Accuracy = 0.48
Iteration 2000 : Cost = 1.245606 . Accuracy = 0.55
Iteration 2100 : Cost = 0.9770777 . Accuracy = 0.78
Accuracy: 0.7597765363128491

## K-Folds Cross Validation

Es un método estadístico utilizado para estimar la capacidad de modelos de *machine learning*. Utiliza un único parámetro **k** que determinará el número de grupos en la que una muestra se dividirá. El procedimiento empieza dividiendo el *data set* de entrada aleatoramiente en **k** grupos. Para cada grupo, el mismo se toma como data de prueba, mientras que el resto se toma como data de entrenamiento. Por cada grupo existirá un proceso de entrenamiento y se registran sus resultados. Al final, se sumarizan todos los resultados para tener un dato promediado. Este proceso se puede realizar por medio de la función **KFold** de **scikit-learn**.

## Evaluación final

In [1766]:
#Combinando los resultados de los 4 modelos
df_predictions = pd.DataFrame({'Model 1': y_pred_1,
                              'Model 2': y_pred_2,
                              'Model 3': y_pred_3,
                              'Model 4': y_pred_4})
df_predictions

     Model 1  Model 2  Model 3  Model 4
0          1        1        1        1
1          0        0        0        1
2          1        0        1        1
3          1        1        1        1
4          1        0        0        1
..       ...      ...      ...      ...
174        1        1        1        1
175        1        1        1        1
176        0        1        0        0
177        0        0        0        1
178        1        1        1        0

[179 rows x 4 columns]

In [1773]:
#Calculando la moda de los 4 modelos
df_predictions['Mode'] = df_predictions.mode(axis = 1)[0]
df_predictions

     Model 1  Model 2  Model 3  Model 4  Mode
0          1        1        1        1   1.0
1          0        0        0        1   0.0
2          1        0        1        1   1.0
3          1        1        1        1   1.0
4          1        0        0        1   0.0
..       ...      ...      ...      ...   ...
174        1        1        1        1   1.0
175        1        1        1        1   1.0
176        0        1        0        0   0.0
177        0        0        0        1   0.0
178        1        1        1        0   1.0

[179 rows x 5 columns]

In [1779]:
#Calculando métricas de la nueva predicción
y_pred_ensemble = df_predictions['Mode']
accuracy = accuracy_score(y_test, y_pred_ensemble)
precision, recall, fscore, _ = precision_recall_fscore_support(y_test, y_pred_ensemble)
metrics = [[conf_string, accuracy, precision[0], precision[1], recall[0], recall[1], fscore[0], fscore[1]]]
accuracy

0.8212290502793296

In [1797]:
#Métricas finales
df_metrics = pd.DataFrame({'Precision': (precision * 100).astype('int'),
                              'Recall': (recall * 100).astype('int'),
                              'F-Score': (fscore * 100).astype('int')})
df_metrics.style.set_caption('Accuracy: ' + str(int(accuracy * 100)) + "%")

# Conclusiones y recomendaciones

**Ensemble learning** es una herramienta bastante efectiva, ya que combinando las fortalezas de cada uno de los 4 algoritmos evaluados se obtuvieron mejores resultados que utilizando los 4 algoritmos individualmente. Como se puede observar, para **Decision Tree** se obtuvo un **73%** de exactitud, para **SVM** se obtuvo un **81%** de exactitud, para **Naive Bayes** se obtuvo un **80%** de exactitud, y para **Logistic Regression** se obtuvo un **76%**. Al combinar los cuatro modelos y obtener la "votación mayoritaria" por medio de la moda, se obtuvo una exactitud de un **82%**.

Durante la fase de experimentación, se evidenció de que para este *dataset* en particular, mientras más variables se agregaban, mejores resultados de *accuracy* se obtenían. Esto resalta la importancia del *feature engineering*, ya que al eliminar *features* no importntes, transformarlas y crear nuevas a partir de las existentes se obtienen mejores resultados. 

De los 4 algoritmos evaluados, los modelos **SVM** y **Naive Bayes** presentaron siempre los mejores resultados para este *dataset* en particular. Es de resaltar que a pesar que **Naive Bayes** es un algoritmo bastante simple comparado con los demás algoritmos ya que se basa en teoría probabilísica únicamente, es bastante eficiente para tipos de problemas complejos como el que se está evalando en este caso. 

Para mejorar aún mas la exactitud de las predicciones, lo recomendable sería invertir más tiempo en la fase de *feature engineering*, analizando los datos y tratando de generar nuevas *fetures* que se consideren importantes y que tengan una importancia estadística en los resultados. 

Cabe resaltar que para este *dataset* en particular, todos los algoritmos evaluados presentaron mejores resultados para predecir si una persona **no sobrevivió**, que para predecir si una persona sí sobrevivió. Debido a esto, lo recomendable sería enfocar los esfuerzos del *feature engineering* para mejorar la precisión de la predicción de personas que sí sobrevivieron.

# Deployment

Notebook con deployment, inferencia y predicción:

https://github.com/gustavo-alvarado/proyecto-ml/blob/master/Proyecto%20-%20Deployment%20-%20Gustavo%20Alvarado.ipynb